[submodule "Cpp-Programs"]
	path = Cpp-Programs
	url = https://github.com/ghraj2001/Cpp-Programs.git
[submodule "Java-Programs"]
	path = Java-Programs
	url = https://github.com/Neelesh-Janga/Java-Programs
[submodule "JavaScript-Programs"]
	path = JavaScript-Programs
	url = https://github.com/akhilpenugonda/JavaScript-Programs.git
